.button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
    margin:15px 0px;

    &-add{
        background-color: rgb(118, 118, 233);
        outline: none;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        color: white;
        padding: 10px 15px;
    }

    &-edit{
        background-color: rgb(52, 184, 52);
        outline: none;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        color: white;
        padding: 10px 15px;
    }

    &-options{
        background-color:rgb(35, 166, 166, 0.7) ;
        color: white;
        outline: none;
        border-radius: 5px;
        border: none;
        padding: 10px 5px;
    }
}