.input{
    min-width: 70%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    font-size: 1rem;
    margin-top: 15px;
}

::placeholder{
    padding-left: 2px;
    font-size: 0.9rem;
}